@font-face {
    font-family:'Deuxieme' ;
    src: url('/Fontes/Deuxieme_Rang_Original.otf');
}

body ,a{
    font-family: 'Deuxieme';
}


a :hover {
    box-shadow: 5px 5px 5px 5px #666;
    background-color: antiquewhite;
    text-shadow: 2px 2px 2px #666;

}

div ul li {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 300px;
    padding: 50px;
}
li a {
    font-size: 2em;
}
div ul li img {
    display: flex;
    width: 200px;
    height: 300px;

}
.galeria {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 50px;
    align-items: center;
}
.galeria ul {
    display: flex;
    flex-wrap: wrap;
}