@font-face {
    font-family:'Deuxieme' ;
    src: url('/Fontes/Deuxieme_Rang_Original.otf');
}
body {
    font-family: 'Deuxieme';
    text-align: center;
    color: #AB953B;
    background-color: rgb(235, 204, 204);
}
a{
    font-family: 'Deuxieme' ;
}
#banner{
    max-width: 80vw;
    left: auto;
    right: auto;
}
.atelier{
    margin-top: -5px;
    margin-bottom: -5px;
}
.capa{
    text-align: center;
}
#capa{
    max-width: 80vw;
}


ul {
    margin: 0px;
    padding: 0px;

}
a {
    color: #AB953B;
    text-decoration: none;
    font-family: sans-serif;

}
a:hover {
    background: rgb(0,0,0,.05)
}
#logo-01{
    width: 100px;
}
#logo {
    font-size: 1.5rem;
    font-weight: bold;
}
header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;
}
#menu{
    display: flex;
    list-style: none;
    gap: 5rem;
    font-family: 'Deuxieme';

}
#menu a {
    font-family: 'Deuxieme';
    font-size: 2em;
    display: block;
    padding: .5rem;
}
#btn-mobile {
    display: none
}
@media (max-width: 600px){
    #btn-mobile {
        display: block;
    }
    #menu { 
        font-family: 'Deuxieme';
         display: block;
         position: absolute;
         width: 100%; 
         top: 70px;  
         right: 0px;
         background: #e7e7e7;
         height: 0px;
         transition: .6s;
         z-index: 1000;
         visibility: hidden;
         overflow-y: hidden;

        
 }

#nav.active #menu {
    height: calc(100vh - 70px );
    visibility: visible;
    overflow-y: auto;
    
    
  

}
#menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgb(0,0,0,.05);

}
#btn-mobile {
    font-family: 'Deuxieme';
    display: flex;
    color: #AB953B;
    padding: .5rem 1rem;
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;

}
span#hamburger {
    display: block;
    border-top: 2px solid;
    width: 20px;
}
span#hamburger::after , span#hamburger::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;

}
#nav.active #hamburger {
    border-top-color:transparent;

}
#nav.active #hamburger::before  {
    transform: rotate(135deg);
}
#nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}

}

